<p><%= @resource.email %>!</p>

<p><%= t('devise.mailer.messages.change_password_below_link')%></p>

<p><%= link_to t('views.common.title_edit', name:t('views.items.password')), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('devise.mailer.messages.ignore_mail')%></p>
