<h1><%= Report.model_name.human %></h1>

<tbody>
  <% @reports.each do |report| %>
    <tr>
      <td><%= report.title %></td>
      <td><%= link_to '詳細', report_path(report)  %></td>
      </br>
    </tr>
  <% end %>
</tbody>

<%= link_to '日記の新規作成', new_report_path %>
